#productsH1 {
    position: fixed;
    top: 10%;
    left: 5%;
    padding: 0;
    border: none;
    color: #000;
}

#newButton {
    position: fixed;
    top: 12.5%;
    right: 5%;
    padding: 0;
    border: none;
    height: 5%;
    width: 10%;

    background-color: #34bcaa;
    color: gold;
    font-weight: bold:
}

#productsDiv {
    position: fixed;
    top: 20%;
    height: 70%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
    border: none;
    
}

table {
    width: 100%;
    padding: 0;
    border: none;
    color: #000;
}

tr {
    width: 100%;
    padding: 0;
    border: none;
    
}

th {
    text-align: center; 
    padding: 0;
    border: none;
    
   
}

td {
    width: 25%;
    padding: 0;
    border: none;
    text-align: center;
    font-weight: bold;
    padding: 0;
    border: none;
    color: #000;
    
    
}

.productImg {
    height: 100px;
    width: 100px;
    padding: 0;
    border: none;
}
