#usersH1 {
    position: fixed;
    top: 10%;
    left: 5%;
    padding: 0;
    border: none;
    color: #000;
}

#newButton {
    position: fixed;
    top: 12.5%;
    right: 5%;
    padding: 0;
    border: none;

    height: 5%;
    width: 10%;

    background-color: #34bcaa;
    color: gold;
    font-weight: bold;
}

#usersDiv {
    position: fixed;
    top: 20%;
    height: 70%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
    border: none;
    color: #000;
}

table {
    width: 100%;
    padding: 0;
    border: none;
}

tr {
    width: 100%;
    padding: 0;
    border: none;
}

th {
    text-align: center;
    padding: 0;
    border: none;
}

td {
    width: 20%;
    font-weight: bold;
    padding: 0;
    border: none;
    color: #000;
    
    text-align: center;
}
