.header {
    height: 10%;
    padding: 20px 10px;

    overflow: hidden;
    background-color: #debf12;
    font-weight: bold;

}

.header .right {
    float: center;
    text-align: center;
}

.header .right a {
    padding: 12px;
    line-height: 25px;
    border-radius: 4px;

    color: #34bcaa;
    font-size: 24px;
    text-decoration: none;
}

