#productsDiv {
    position: fixed;

    height: 60%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#iopValue {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

table, tr {
    width: 100%;
    }

td {
    text-align: center;
    font-weight: bold;
    color: #000;
}

.productImg {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

#totals {
    position: fixed;
    height: 5%;
    width: 100%;
    bottom: 20%;
    font-weight: bold;
    font-size: 20px;
    color: #000;
}

#totals #usdTotal {
    float: left;
    margin-left: 20%;
    display: inline-block;
    color: #000;
}

#totals #iopTotal {
    float: right;
    margin-right: 20%;
    display: inline-block;
    color: #000;
}

#customAmount {
    width: 100%;

    position: fixed;
    bottom: 15%;
    
    font-size: 24px;
    text-align: center;
}

#orderButtonDiv {
    height: 8%;
    width: 90%;

    position: fixed;
    bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#orderButton {
    height: 100%;
    width: 30%;
    margin-left: 35.5%;
    margin-right: 35.5%;
    text-align: center;
    padding: 0;
    border: none;
    background-color: #34bcaa;
    color: #debf12;
    font-size: 24px;
    font-weight: bold;
}
